# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm / DataSpell
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
dist/
build/
*.spec

# Sphinx
docs/_build/

# pyenv
.python-version

# celery
celerybeat-schedule
celerybeat.pid

# dotenv
*.env
.env.*

# log files
*.log

# Local databases
*.sqlite3
*.db

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter Notebook metadata (optional)
*.nbmetadata.json

# Exported notebooks
*.nbconvert.ipynb

ds/
traffic/gtsrb
traffic/gtsrb_yolo
*.pt
runs/